*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    line-height: 1.4;
    font-weight: 300;
}
.hero_section{
    background-image: url("image\ -\ Copy.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text_container{
    color:black;
    max-width: 90px;
    margin: 0 auto;
    padding-top:64px;
    text-align: left;
    
}
.lg_text{
    font-size: 72px;
    font-weight: 400;
    text-align: left;
    padding-left: 0%;
}
.black_box{
    background-color: black;
    padding:24px;
}
.black_box h2{
    font-size: 72px;
    color:white;
    text-align: center;
    font-weight: 300;

}
.black_box h2 span{
    font-size: 300;
}
.hero_section h1 h2 span{
    text-align:left;
}

